<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-YvTur/blob/main/Semana4_Modulo1_a00813752_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 101 for Data Science

## Module 1 - Introduction

We are going to center the course related to the following question:

### **what is the best price for selling a used car?**

**Scientific Computing Libraries in python**

Pandas- Data Strucutures and tools

Numpy - Arrays & matrices

Scipy - High level math, integrals, differential equations and optimization

**Vizualization**

Matplotlib -  Plots & graphs, most popular

Seaborn    - Plots like heat maps, time series, violin plots


**Algorithmic**

Scikit-learn - Machine learning 

Statsmodel   - Explore daa, estimate statistical models and perform statistical test

###Hands on Lab

We are going to work on a dataset from the 85 of used car at that time. The job will be learning techniques and methods of pandas to make easier the exploration and understanding of the dataset

In [10]:
#We first call the pandas library
import pandas as pd
#Note for future Yves, when calling a csv on colab, 
#call it from github and call the raw material
url="https://raw.githubusercontent.com/PosgradoMNA/actividades-de-aprendizaje-YvTur/main/Data%20Analysis/autos_imports-85.csv"

In [13]:
#We call the url of the CSV
df =pd.read_csv(url)  
#You most remember that pandas can cal a sql, excel,json and CSV

In [12]:
#Inside the parenthesis of the function you can call more than 5. 
df.head(5)

        %symboling normalized-losses make fuel-type   aspiration num-of-doors  \
3 ?    alfa-romero               gas  std       two  convertible          rwd
  ?    alfa-romero               gas  std       two  convertible          rwd
1 ?    alfa-romero               gas  std       two    hatchback          rwd
2 164         audi               gas  std      four        sedan          fwd
  164         audi               gas  std      four        sedan          4wd

      body-style  drive-wheels  wheel-base  length  ...  num-of-cylinders  \
3 ?        front          88.6       168.8    64.1  ...               130
  ?        front          88.6       168.8    64.1  ...               130
1 ?        front          94.5       171.2    65.5  ...               152
2 164      front          99.8       176.6    66.2  ...               109
  164      front          99.4       176.6    66.4  ...               136

       engine-size fuel-system  bore  stroke compression-ratio  \
3 ?           mpfi        3.47  2.68     9.0               111
  ?           mpfi        3.47  2.68     9.0               111
1 ?           mpfi        2.68  3.47     9.0               154
2 164         mpfi        3.19  3.40    10.0               102
  164         mpfi        3.19  3.40     8.0               115

      horsepower-peak-rpm city-mpg  highway-mpg  price
3 ?                  5000       21           27  13495
  ?                  5000       21           27  16500
1 ?                  5000       19           26  16500
2 164                5500       24           30  13950
  164                5500       18           22  17450

[5 rows x 24 columns]

**Basic Insights from the data**

It is necessary to check two things:

-Data types 

-Data Distribution

The reason to check types is to see if there is any colum that needs to move their type of value to work.

In [15]:
#we call the types of data of each column and start seeing that some changes will be need it
df.dtypes

%symboling              object
normalized-losses       object
make                    object
fuel-type               object
aspiration              object
num-of-doors            object
body-style              object
drive-wheels           float64
wheel-base             float64
length                 float64
width                  float64
height                   int64
curb-weight             object
engine-type             object
num-of-cylinders         int64
engine-size             object
fuel-system             object
bore                    object
stroke                 float64
compression-ratio       object
horsepower-peak-rpm     object
city-mpg                 int64
highway-mpg              int64
price                   object
dtype: object

In [17]:
#For knowing general data about your dataframe. You can use the following command
df.describe(include="all")

,%symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,wheel-base,length,...,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower-peak-rpm,city-mpg,highway-mpg,price
count,205,205,205,205,205,205,205,205.000000,205.000000,205.000000,...,205.000000,205,205,205,205.000000,205,205,205.000000,205.000000,205
unique,22,2,2,3,5,3,2,NaN,NaN,NaN,...,NaN,8,39,37,NaN,60,24,NaN,NaN,187
top,toyota,gas,std,four,sedan,fwd,front,NaN,NaN,NaN,...,NaN,mpfi,3.62,3.40,NaN,68,5500,NaN,NaN,?
freq,32,185,168,114,96,120,202,NaN,NaN,NaN,...,NaN,94,23,20,NaN,19,37,NaN,NaN,4
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.756585,174.049268,65.907805,...,126.907317,NaN,NaN,NaN,10.142537,NaN,NaN,25.219512,30.751220,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.021776,12.337289,2.145204,...,41.642693,NaN,NaN,NaN,3.972040,NaN,NaN,6.542142,6.886443,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,141.100000,60.300000,...,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,166.300000,64.100000,...,97.000000,NaN,NaN,NaN,8.600000,NaN,NaN,19.000000,25.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,173.200000,65.500000,...,120.000000,NaN,NaN,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,183.100000,66.900000,...,141.000000,NaN,NaN,NaN,9.400000,NaN,NaN,30.000000,34.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,208.100000,72.300000,...,326.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

In [18]:
#another way to ssee your top and footer of the dataframe
df.info

<bound method DataFrame.info of          %symboling normalized-losses   make fuel-type   aspiration  \
 3 ?    alfa-romero               gas    std       two  convertible
   ?    alfa-romero               gas    std       two  convertible
 1 ?    alfa-romero               gas    std       two    hatchback
 2 164         audi               gas    std      four        sedan
   164         audi               gas    std      four        sedan
...             ...               ...    ...       ...          ...
-1 95         volvo               gas    std      four        sedan
   95         volvo               gas  turbo      four        sedan
   95         volvo               gas    std      four        sedan
   95         volvo            diesel  turbo      four        sedan
   95         volvo               gas  turbo      four        sedan

       num-of-doors body-style  drive-wheels  wheel-base  length  ...  \
 3 ?            rwd      front          88.6       168.8    64.1  ...
   ?            rwd      front          88.6       168.8    64.1  ...
 1 ?            rwd      front          94.5       171.2    65.5  ...
 2 164          fwd      front          99.8       176.6    66.2  ...
   164          4wd      front          99.4       176.6    66.4  ...
...             ...        ...           ...         ...     ...  ...
-1 95           rwd      front         109.1       188.8    68.9  ...
   95           rwd      front         109.1       188.8    68.8  ...
   95           rwd      front         109.1       188.8    68.9  ...
   95           rwd      front         109.1       188.8    68.9  ...
   95           rwd      front         109.1       188.8    68.9  ...

        num-of-cylinders  engine-size fuel-system  bore  stroke  \
 3 ?                 130         mpfi        3.47  2.68     9.0
   ?                 130         mpfi        3.47  2.68     9.0
 1 ?                 152         mpfi        2.68  3.47     9.0
 2 164               109         mpfi        3.19  3.40    10.0
   164               136         mpfi        3.19  3.40     8.0
...                  ...          ...         ...   ...     ...
-1 95                141         mpfi        3.78  3.15     9.5
   95                141         mpfi        3.78  3.15     8.7
   95                173         mpfi        3.58  2.87     8.8
   95                145          idi        3.01  3.40    23.0
   95                141         mpfi        3.78  3.15     9.5

       compression-ratio horsepower-peak-rpm city-mpg  highway-mpg  price
 3 ?                 111                5000       21           27  13495
   ?                 111                5000       21           27  16500
 1 ?                 154                5000       19           26  16500
 2 164               102                5500       24           30  13950
   164               115                5500       18           22  17450
...                  ...                 ...      ...          ...    ...
-1 95                114                5400       23           28  16845
   95                160                5300       19           25  19045
   95                134                5500       18           23  21485
   95                106                4800       26           27  22470
   95                114                5400       19           25  22625

[205 rows x 24 columns]>